<fieldset class="forms">
  <legend>Login</legend>
  <div class="field-wrapper">
    <label>email</label>
    <input type="text" value="" placeholder="john@emai.com"/>
  </div>

  <div class="field-wrapper">
    <label>password</label>
    <input type="password" value="" placeholder=""/>
  </div>
</fieldset>
